language: bash

sudo: false

addons:
  apt:
    sources:
      - debian-sid
    packages:
      - shellcheck

install:
  - sh -c "$(curl -fsSL https://raw.githubusercontent.com/ryuzi/oyster/master/install)"
  - sh -c "$(curl -fsSL https://raw.githubusercontent.com/ryuzi/oyster-modules/master/install)"
  - export OYST_PATH=/home/travis/.oyster
  - export OYST_MODULE_PATH=/home/travis/.oyster-modules
  - export PATH=$OYST_PATH:$PATH

script:
  - cat < MODULE_LIST | xargs shellcheck
  - oyster test

matrix:
  fast_finish: true

